body{
	background-color: black;
	color: #9CBC7E;
    font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#header{
	text-align: center;
}

.container {
    padding:20px;
    margin-top:30px;
    border-radius:30px;
    background-color: #476E6E;
}

img{
    width: 50px;
}

footer {
    text-align: center;
    background-color: #429B76;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
